div {
	margin: 0 auto;
}

.row {
	height: auto;
}

#left-column {
	height: auto;
	width: 30%;
}

.post {
	width: 70%;
	padding: 20px 30px;
	border-top: 1px solid black;
}

.top-section {
	position: relative;
	height: 40px;
}

.title {
	float: left;
}

.buttons {
	float: right;
}